
{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Listado de Tareas</h2>
    <a href="{% url 'crearTarea' %}" class="btn btn-primary mb-3">Crear Nueva Tarea</a>
    <div>
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    </div>
    <table class="table table-striped" id="datatable_tareas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de creacion</th>
                <th>Fecha de Vencimiento</th>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.fecha_creacion }}</td>
                <td>{{ tarea.fecha_vencimiento }}</td>
                <td>{{ tarea.prioridad }}</td>
                <td>{{ tarea.estado }}</td>
                <td>
                    <a href="{% url 'informacionTarea' tarea.id %}" class="btn btn-sm btn-info">Informacion</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}